html, body{
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: darkgray;
}

body{
	padding: 2vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vh;
	align-items: center;
}

#container{
	display: flex;
	flex-direction: column;
	width: 80vmin;
	height: 80vmin;
}

.row:first-child .cell{
	border-top: 1px solid black;
}

.row{
	display: flex;
	justify-content: center;
	flex: 1;
}

.cell:first-child{
	border-left: 1px solid black;
}

.cell{
	background-color:white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	flex: 1;
}

.black{
	background-color: black;
}

#controlPanel{
	background-color: white;
	padding: 1em;
	border: 1px solid black;
	width: 40%;
	display: flex;
	gap: 1em;
}
